<div class="container my-5">
  <p id="notice"><%= notice %></p>

  <h1>Friends</h1>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone number</th>
        <th scope="col">Address</th>
        <th scope="col" colspan="3">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.phone_number %></td>
          <td><%= friend.address %></td>
          <td><button type="button" class="btn btn-success"><%= link_to 'Show', friend %></button></td>
          <td><button type="button" class="btn btn-success"><%= link_to 'Edit', edit_friend_path(friend) %></button></td>
          <td><button type="button" class="btn btn-success"><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <button type="button" class="btn btn-success"><%= link_to 'New Friend', new_friend_path %></button>
</div>