<div class="container my-5">
  <p id="notice"><%= notice %></p>

  <div class="card text-center">
    <div class="card-header">
      Friend
    </div>

    <div class="card-body">
      <p>
        <strong>First name:</strong>
        <%= @friend.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @friend.last_name %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @friend.phone_number %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @friend.address %>
      </p>
    </div>

    <div class="card-footer text-muted">
      <button type="button" class="btn btn-success"><%= link_to 'Edit', edit_friend_path(@friend) %></button>
      <button type="button" class="btn btn-success"><%= link_to 'Back', friends_path %></button>
    </div>
</div> 